.rcw-conversation-container .rcw-header{
    background-color: #1890ff;
    
}
.rcw-client .rcw-message-text{
    background-color: #9aceff;
}
.rcw-launcher{
    margin-bottom: 70px;
    background-color: #1890ff;
}