.rcw-conversation-container .rcw-header {
    background-color: #1890ff;
}
.rcw-client .rcw-message-text {
    background-color: #9aceff;
}
.rcw-launcher {
    margin-bottom: 70px;
    background-color: #1890ff;
}

.hide-spin {
    display: none;
}
.timePlay {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: x-large;
    margin-right: 80px;
    .time {
        color: #1890ff;
        text-shadow: 2px 2px 10px #daeafa;
        font-size: x-large !important;
    }
    .coutdown {
        // padding: 10px 12px;
        width: 45px;
        height: 45px;
        line-height: 1.8;
        background-color: #1890ff;
        color: white;
        box-shadow: 5px 10px #9aceff;
        margin-left: 20px;
    }
}
.playBoard {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px !important;
}
